body {
    background-color: #ba1452;
    text-align: center;
}

.c-w {
    color: white;
}

.c-p {
    color: #ba1452;
}

.b-c-b {
    background-color: rgb(181, 181, 181);
}

.ms_size {
    font-size: 1.3rem;
}

.train-ticket {
    background-color: rgb(255, 255, 255);

    text-align: center;
}

.hidden {
    display: none;
}